In [1]:
# Dependencies
import requests
from config import api_key
import pandas as pd
#from splinter import Browser
#from bs4 import BeautifulSoup
#from webdriver_manager.chrome import ChromeDriverManager
import datetime as dt
from datetime import datetime as ds
import json
from pprint import pprint

### Getting Inflation data for US by reading HTML

In [2]:
# Define the url to read the html
url = 'https://www.in2013dollars.com/us/inflation/1930?amount=1'

In [3]:
# Read the web page and print results
cpi_inflation = pd.read_html(url)
cpi_inflation

[                            0               1
 0     Cumulative price change       1,486.09%
 1      Average inflation rate           3.08%
 2  Converted amount ($1 base)          $15.86
 3  Price difference ($1 base)          $14.86
 4                 CPI in 1930          16.700
 5                 CPI in 2021         264.877
 6           Inflation in 1930          -2.34%
 7           Inflation in 2021           2.62%
 8                  $1 in 1930  $15.86 in 2021,
     Year Dollar Value Inflation Rate
 0   1930        $1.00         -2.34%
 1   1931        $0.91         -8.98%
 2   1932        $0.82         -9.87%
 3   1933        $0.78         -5.11%
 4   1934        $0.80          3.08%
 ..   ...          ...            ...
 87  2017       $14.68          2.13%
 88  2018       $15.04          2.49%
 89  2019       $15.31          1.76%
 90  2020       $15.50          1.23%
 91  2021       $15.86         2.34%*

 [92 rows x 3 columns],
                  Initial value              Equivalent value
 0            $1 dollar in 1930          $15.86 dollars today
 1           $5 dollars in 1930          $79.30 dollars today
 2          $10 dollars in 1930         $158.61 dollars today
 3          $50 dollars in 1930         $793.04 dollars today
 4         $100 dollars in 1930      $1,586.09  dollars today
 5         $500 dollars in 1930       $7,930.45 dollars today
 6       $1,000 dollars in 1930      $15,860.90 dollars today
 7       $5,000 dollars in 1930      $79,304.49 dollars today
 8      $10,000 dollars in 1930     $158,608.98 dollars today
 9      $50,000 dollars in 1930     $793,044.91 dollars today
 10    $100,000 dollars in 1930   $1,586,089.82 dollars today
 11    $500,000 dollars in 1930   $7,930,449.10 dollars today
 12  $1,000,000 dollars in 1930  $15,860,898.20 dollars today,
                       Category  Avg Inflation (%)  Total Inflation (%)  \
 0           Food and beverages               3.86              3040.67
 1                      Housing               4.14              3907.93
 2                      Apparel               1.78               396.58
 3               Transportation               3.18              1630.91
 4                 Medical care               4.69              6355.37
 5                   Recreation               1.08               165.99
 6  Education and communication               1.81               412.62
 7     Other goods and services               4.92              7839.62

    $1 in 1930 → 2021
 0              31.41
 1              40.08
 2               4.97
 3              17.31
 4              64.55
 5               2.66
 6               5.13
 7              79.40  ,
                Unnamed: 0 Original Amount Final Amount       Change
 0                 Nominal              $1    $5,064.60  506,360.18%
 1  RealInflation Adjusted              $1      $319.31   31,831.37%,
                             0               1
 0     Cumulative price change       1,486.09%
 1      Average inflation rate           3.08%
 2  Converted amount ($1 base)          $15.86
 3  Price difference ($1 base)          $14.86
 4                 CPI in 1930          16.700
 5                 CPI in 2021         264.877
 6           Inflation in 1930          -2.34%
 7           Inflation in 2021           2.62%
 8                  $1 in 1930  $15.86 in 2021]

In [4]:
# Select the required table for CPI and Inflation from the page and build the required dataframe
cpi_inflation_df = cpi_inflation[1]
cpi_inflation_df

    Year Dollar Value Inflation Rate
0   1930        $1.00         -2.34%
1   1931        $0.91         -8.98%
2   1932        $0.82         -9.87%
3   1933        $0.78         -5.11%
4   1934        $0.80          3.08%
..   ...          ...            ...
87  2017       $14.68          2.13%
88  2018       $15.04          2.49%
89  2019       $15.31          1.76%
90  2020       $15.50          1.23%
91  2021       $15.86         2.34%*

[92 rows x 3 columns]

### Getting GDP data for US using API call

In [5]:
#https://alfred.stlouisfed.org/series/downloaddata?seid=MABMM301USA657S
url = 'https://api.stlouisfed.org/fred/series/observations?series_id=A191RL1A225NBEA'
realtime_start = '1958-01-01'
realtime_end = '2021-01-31'

In [6]:
# https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA
# &realtime_start=1776-07-04&realtime_end=9999-12-31&api_key=abcdefghijklmnopqrstuvwxyz123456
# Build query URL
query_url = url + "&realtime_start=" + realtime_start + "&realtime_end=" + realtime_end + "&api_key=" + api_key + "&file_type=json"
query_url

'https://api.stlouisfed.org/fred/series/observations?series_id=A191RL1A225NBEA&realtime_start=1958-01-01&realtime_end=2021-01-31&api_key=d282d9b79098a2dd1a31f63af87c22ab&file_type=json'

In [7]:
response = requests.get(query_url).json()
pprint(response)

{'count': 129,
 'file_type': 'json',
 'limit': 100000,
 'observation_end': '9999-12-31',
 'observation_start': '1600-01-01',
 'observations': [{'date': '1930-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-8.5'},
                  {'date': '1931-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-6.4'},
                  {'date': '1932-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-12.9'},
                  {'date': '1933-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '-1.3'},
                  {'date': '1933-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '-1.2'},
                  {'date': '1934-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '10.8'},
                  {'date': '1935-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '8.9'},
                  {'date': '1936-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '12.9'},
                  {'date': '1937-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '5.1'},
                  {'date': '1938-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-3.3'},
                  {'date': '1939-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '8'},
                  {'date': '1940-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '8.8'},
                  {'date': '1941-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '17.7'},
                  {'date': '1942-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '18.9'},
                  {'date': '1943-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '17'},
                  {'date': '1944-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '8'},
                  {'date': '1945-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-1'},
                  {'date': '1946-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-11.6'},
                  {'date': '1947-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-1.1'},
                  {'date': '1948-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.1'},
                  {'date': '1949-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '-0.5'},
                  {'date': '1949-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '-0.6'},
                  {'date': '1950-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '8.7'},
                  {'date': '1951-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '8.1'},
                  {'date': '1951-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '8.0'},
                  {'date': '1952-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.1'},
                  {'date': '1953-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.7'},
                  {'date': '1954-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-0.6'},
                  {'date': '1955-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '7.1'},
                  {'date': '1956-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '2.1'},
                  {'date': '1957-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '2.1'},
                  {'date': '1958-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-0.7'},
                  {'date': '1959-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '6.9'},
                  {'date': '1960-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '2.6'},
                  {'date': '1961-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '2.6'},
                  {'date': '1962-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '6.1'},
                  {'date': '1963-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.4'},
                  {'date': '1964-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '5.8'},
                  {'date': '1965-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '6.5'},
                  {'date': '1966-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '6.6'},
                  {'date': '1967-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '2.7'},
                  {'date': '1968-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.9'},
                  {'date': '1969-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '3.1'},
                  {'date': '1970-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '0.2'},
                  {'date': '1971-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '3.3'},
                  {'date': '1972-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '5.2'},
                  {'date': '1972-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '5.3'},
                  {'date': '1973-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '5.6'},
                  {'date': '1974-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-0.5'},
                  {'date': '1975-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-0.2'},
                  {'date': '1976-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '5.4'},
                  {'date': '1977-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.6'},
                  {'date': '1978-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '5.6'},
                  {'date': '1978-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '5.5'},
                  {'date': '1979-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '3.2'},
                  {'date': '1980-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '-0.2'},
                  {'date': '1980-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '-0.3'},
                  {'date': '1981-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '2.6'},
                  {'date': '1981-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '2.5'},
                  {'date': '1982-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '-1.9'},
                  {'date': '1982-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '-1.8'},
                  {'date': '1983-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.6'},
                  {'date': '1984-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '7.3'},
                  {'date': '1984-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '7.2'},
                  {'date': '1985-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.2'},
                  {'date': '1986-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '3.5'},
                  {'date': '1987-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '3.5'},
                  {'date': '1988-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.2'},
                  {'date': '1989-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '3.7'},
                  {'date': '1990-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '1.9'},
                  {'date': '1991-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '-0.1'},
                  {'date': '1992-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '3.6'},
                  {'date': '1992-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '3.5'},
                  {'date': '1993-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '2.7'},
                  {'date': '1993-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '2.8'},
                  {'date': '1994-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4'},
                  {'date': '1995-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '2.7'},
                  {'date': '1996-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '3.8'},
                  {'date': '1997-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '4.5'},
                  {'date': '1997-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '4.4'},
                  {'date': '1998-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.5'},
                  {'date': '1999-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '4.7'},
                  {'date': '1999-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '4.8'},
                  {'date': '2000-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '4.1'},
                  {'date': '2001-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '1'},
                  {'date': '2002-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '1.8'},
                  {'date': '2002-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '1.7'},
                  {'date': '2003-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '2.8'},
                  {'date': '2003-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '2.9'},
                  {'date': '2004-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '3.8'},
                  {'date': '2005-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '3.3'},
                  {'date': '2005-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '3.5'},
                  {'date': '2006-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '2.7'},
                  {'date': '2006-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '2.9'},
                  {'date': '2007-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '1.8'},
                  {'date': '2007-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '1.9'},
                  {'date': '2008-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '-0.3'},
                  {'date': '2008-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '-0.1'},
                  {'date': '2009-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '-2.8'},
                  {'date': '2009-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '-2.5'},
                  {'date': '2010-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2014-10-31',
                   'value': '2.5'},
                  {'date': '2010-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '2.6'},
                  {'date': '2011-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2014-10-31',
                   'value': '1.6'},
                  {'date': '2012-01-01',
                   'realtime_end': '2015-07-29',
                   'realtime_start': '2014-10-31',
                   'value': '2.3'},
                  {'date': '2012-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2015-07-30',
                   'value': '2.2'},
                  {'date': '2013-01-01',
                   'realtime_end': '2015-07-29',
                   'realtime_start': '2014-10-31',
                   'value': '2.2'},
                  {'date': '2013-01-01',
                   'realtime_end': '2016-07-28',
                   'realtime_start': '2015-07-30',
                   'value': '1.5'},
                  {'date': '2013-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2016-07-29',
                   'value': '1.7'},
                  {'date': '2013-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '1.8'},
                  {'date': '2014-01-01',
                   'realtime_end': '2017-07-27',
                   'realtime_start': '2015-01-30',
                   'value': '2.4'},
                  {'date': '2014-01-01',
                   'realtime_end': '2018-07-26',
                   'realtime_start': '2017-07-28',
                   'value': '2.6'},
                  {'date': '2014-01-01',
                   'realtime_end': '2021-01-31',
                   'realtime_start': '2018-07-27',
                   'value': '2.5'},

In [8]:
pprint(response['observations'])

[{'date': '1930-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-8.5'},
 {'date': '1931-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-6.4'},
 {'date': '1932-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-12.9'},
 {'date': '1933-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '-1.3'},
 {'date': '1933-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '-1.2'},
 {'date': '1934-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '10.8'},
 {'date': '1935-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '8.9'},
 {'date': '1936-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '12.9'},
 {'date': '1937-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '5.1'},
 {'date': '1938-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-3.3'},
 {'date': '1939-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '8'},
 {'date': '1940-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '8.8'},
 {'date': '1941-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '17.7'},
 {'date': '1942-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '18.9'},
 {'date': '1943-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '17'},
 {'date': '1944-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '8'},
 {'date': '1945-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-1'},
 {'date': '1946-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-11.6'},
 {'date': '1947-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-1.1'},
 {'date': '1948-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.1'},
 {'date': '1949-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '-0.5'},
 {'date': '1949-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '-0.6'},
 {'date': '1950-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '8.7'},
 {'date': '1951-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '8.1'},
 {'date': '1951-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '8.0'},
 {'date': '1952-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.1'},
 {'date': '1953-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.7'},
 {'date': '1954-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-0.6'},
 {'date': '1955-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '7.1'},
 {'date': '1956-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '2.1'},
 {'date': '1957-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '2.1'},
 {'date': '1958-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-0.7'},
 {'date': '1959-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '6.9'},
 {'date': '1960-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '2.6'},
 {'date': '1961-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '2.6'},
 {'date': '1962-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '6.1'},
 {'date': '1963-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.4'},
 {'date': '1964-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '5.8'},
 {'date': '1965-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '6.5'},
 {'date': '1966-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '6.6'},
 {'date': '1967-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '2.7'},
 {'date': '1968-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.9'},
 {'date': '1969-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '3.1'},
 {'date': '1970-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '0.2'},
 {'date': '1971-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '3.3'},
 {'date': '1972-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '5.2'},
 {'date': '1972-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '5.3'},
 {'date': '1973-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '5.6'},
 {'date': '1974-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-0.5'},
 {'date': '1975-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-0.2'},
 {'date': '1976-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '5.4'},
 {'date': '1977-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.6'},
 {'date': '1978-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '5.6'},
 {'date': '1978-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '5.5'},
 {'date': '1979-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '3.2'},
 {'date': '1980-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '-0.2'},
 {'date': '1980-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '-0.3'},
 {'date': '1981-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '2.6'},
 {'date': '1981-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '2.5'},
 {'date': '1982-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '-1.9'},
 {'date': '1982-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '-1.8'},
 {'date': '1983-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.6'},
 {'date': '1984-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '7.3'},
 {'date': '1984-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '7.2'},
 {'date': '1985-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.2'},
 {'date': '1986-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '3.5'},
 {'date': '1987-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '3.5'},
 {'date': '1988-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.2'},
 {'date': '1989-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '3.7'},
 {'date': '1990-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '1.9'},
 {'date': '1991-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '-0.1'},
 {'date': '1992-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '3.6'},
 {'date': '1992-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '3.5'},
 {'date': '1993-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '2.7'},
 {'date': '1993-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '2.8'},
 {'date': '1994-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4'},
 {'date': '1995-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '2.7'},
 {'date': '1996-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '3.8'},
 {'date': '1997-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '4.5'},
 {'date': '1997-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '4.4'},
 {'date': '1998-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.5'},
 {'date': '1999-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '4.7'},
 {'date': '1999-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '4.8'},
 {'date': '2000-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '4.1'},
 {'date': '2001-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '1'},
 {'date': '2002-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '1.8'},
 {'date': '2002-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '1.7'},
 {'date': '2003-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '2.8'},
 {'date': '2003-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '2.9'},
 {'date': '2004-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '3.8'},
 {'date': '2005-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '3.3'},
 {'date': '2005-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '3.5'},
 {'date': '2006-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '2.7'},
 {'date': '2006-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '2.9'},
 {'date': '2007-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '1.8'},
 {'date': '2007-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '1.9'},
 {'date': '2008-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '-0.3'},
 {'date': '2008-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '-0.1'},
 {'date': '2009-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '-2.8'},
 {'date': '2009-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '-2.5'},
 {'date': '2010-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2014-10-31',
  'value': '2.5'},
 {'date': '2010-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '2.6'},
 {'date': '2011-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2014-10-31',
  'value': '1.6'},
 {'date': '2012-01-01',
  'realtime_end': '2015-07-29',
  'realtime_start': '2014-10-31',
  'value': '2.3'},
 {'date': '2012-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2015-07-30',
  'value': '2.2'},
 {'date': '2013-01-01',
  'realtime_end': '2015-07-29',
  'realtime_start': '2014-10-31',
  'value': '2.2'},
 {'date': '2013-01-01',
  'realtime_end': '2016-07-28',
  'realtime_start': '2015-07-30',
  'value': '1.5'},
 {'date': '2013-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2016-07-29',
  'value': '1.7'},
 {'date': '2013-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '1.8'},
 {'date': '2014-01-01',
  'realtime_end': '2017-07-27',
  'realtime_start': '2015-01-30',
  'value': '2.4'},
 {'date': '2014-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2017-07-28',
  'value': '2.6'},
 {'date': '2014-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2018-07-27',
  'value': '2.5'},
 {'date': '2015-01-01',
  'realtime_end': '2016-07-28',
  'realtime_start': '2016-01-29',
  'value': '2.4'},
 {'date': '2015-01-01',
  'realtime_end': '2017-07-27',
  'realtime_start': '2016-07-29',
  'value': '2.6'},
 {'date': '2015-01-01',
  'realtime_end': '2020-07-29',
  'realtime_start': '2017-07-28',
  'value': '2.9'},
 {'date': '2015-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2020-07-30',
  'value': '3.1'},
 {'date': '2016-01-01',
  'realtime_end': '2017-07-27',
  'realtime_start': '2017-01-27',
  'value': '1.6'},
 {'date': '2016-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2017-07-28',
  'value': '1.5'},
 {'date': '2016-01-01',
  'realtime_end': '2020-07-29',
  'realtime_start': '2018-07-27',
  'value': '1.6'},
 {'date': '2016-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2020-07-30',
  'value': '1.7'},
 {'date': '2017-01-01',
  'realtime_end': '2018-07-26',
  'realtime_start': '2018-01-26',
  'value': '2.3'},
 {'date': '2017-01-01',
  'realtime_end': '2019-07-25',
  'realtime_start': '2018-07-27',
  'value': '2.2'},
 {'date': '2017-01-01',
  'realtime_end': '2020-07-29',
  'realtime_start': '2019-07-26',
  'value': '2.4'},
 {'date': '2017-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2020-07-30',
  'value': '2.3'},
 {'date': '2018-01-01',
  'realtime_end': '2020-07-29',
  'realtime_start': '2019-02-28',
  'value': '2.9'},
 {'date': '2018-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2020-07-30',
  'value': '3.0'},
 {'date': '2019-01-01',
  'realtime_end': '2020-07-29',
  'realtime_start': '2020-01-30',
  'value': '2.3'},
 {'date': '2019-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2020-07-30',
  'value': '2.2'},
 {'date': '2020-01-01',
  'realtime_end': '2021-01-31',
  'realtime_start': '2021-01-28',
  'value': '-3.5'}]

In [9]:
gdp_df = pd.DataFrame(response['observations'])
gdp_df

    realtime_start realtime_end        date  value
0       2014-10-31   2021-01-31  1930-01-01   -8.5
1       2014-10-31   2021-01-31  1931-01-01   -6.4
2       2014-10-31   2021-01-31  1932-01-01  -12.9
3       2014-10-31   2018-07-26  1933-01-01   -1.3
4       2018-07-27   2021-01-31  1933-01-01   -1.2
..             ...          ...         ...    ...
124     2019-02-28   2020-07-29  2018-01-01    2.9
125     2020-07-30   2021-01-31  2018-01-01    3.0
126     2020-01-30   2020-07-29  2019-01-01    2.3
127     2020-07-30   2021-01-31  2019-01-01    2.2
128     2021-01-28   2021-01-31  2020-01-01   -3.5

[129 rows x 4 columns]

In [10]:
gdp_df = gdp_df[['date', 'value']]
gdp_df

           date  value
0    1930-01-01   -8.5
1    1931-01-01   -6.4
2    1932-01-01  -12.9
3    1933-01-01   -1.3
4    1933-01-01   -1.2
..          ...    ...
124  2018-01-01    2.9
125  2018-01-01    3.0
126  2019-01-01    2.3
127  2019-01-01    2.2
128  2020-01-01   -3.5

[129 rows x 2 columns]

In [11]:
gdp_df.columns = ['Year', 'gdp_rate']
gdp_df

           Year gdp_rate
0    1930-01-01     -8.5
1    1931-01-01     -6.4
2    1932-01-01    -12.9
3    1933-01-01     -1.3
4    1933-01-01     -1.2
..          ...      ...
124  2018-01-01      2.9
125  2018-01-01      3.0
126  2019-01-01      2.3
127  2019-01-01      2.2
128  2020-01-01     -3.5

[129 rows x 2 columns]

In [12]:
gdp_df['Year'] = [ds.strptime(x,'%Y-%m-%d') for x in gdp_df['Year']]

<ipython-input-12-6d7612be5b94>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp_df['Year'] = [ds.strptime(x,'%Y-%m-%d') for x in gdp_df['Year']]

In [13]:
gdp_df['Year'] = gdp_df['Year'].dt.year
gdp_df

<ipython-input-13-193bac653d63>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp_df['Year'] = gdp_df['Year'].dt.year

     Year gdp_rate
0    1930     -8.5
1    1931     -6.4
2    1932    -12.9
3    1933     -1.3
4    1933     -1.2
..    ...      ...
124  2018      2.9
125  2018      3.0
126  2019      2.3
127  2019      2.2
128  2020     -3.5

[129 rows x 2 columns]

In [14]:
gdp_df = gdp_df.drop_duplicates(keep='last', subset=['Year'])
gdp_df

     Year gdp_rate
0    1930     -8.5
1    1931     -6.4
2    1932    -12.9
4    1933     -1.2
5    1934     10.8
..    ...      ...
119  2016      1.7
123  2017      2.3
125  2018      3.0
127  2019      2.2
128  2020     -3.5

[91 rows x 2 columns]

### Reading xls to obtain Money Stock (M3) in the US

In [15]:
# Read United States values M3 values from 1958 into a dataframe
m3_data = pd.read_excel('us_m3.xls')
m3_data

   observation_date  MABMM301USA657S_20210414
0        1958-01-01                       NaN
1        1959-01-01                       NaN
2        1960-01-01                  3.744744
3        1961-01-01                  6.753574
4        1962-01-01                  7.778348
..              ...                       ...
58       2016-01-01                  6.787281
59       2017-01-01                  5.700626
60       2018-01-01                  3.848735
61       2019-01-01                  5.096518
62       2020-01-01                 19.164267

[63 rows x 2 columns]

In [16]:
# Rename the columns
m3_data.columns = ['Year', 'M3_growth_rate']
m3_data

         Year  M3_growth_rate
0  1958-01-01             NaN
1  1959-01-01             NaN
2  1960-01-01        3.744744
3  1961-01-01        6.753574
4  1962-01-01        7.778348
..        ...             ...
58 2016-01-01        6.787281
59 2017-01-01        5.700626
60 2018-01-01        3.848735
61 2019-01-01        5.096518
62 2020-01-01       19.164267

[63 rows x 2 columns]

In [17]:
#Change date format to year to match the CPI_Inflation table
m3_data['Year'] = m3_data['Year'].dt.year
m3_data = m3_data.round(decimals=2)
m3_data

    Year  M3_growth_rate
0   1958             NaN
1   1959             NaN
2   1960            3.74
3   1961            6.75
4   1962            7.78
..   ...             ...
58  2016            6.79
59  2017            5.70
60  2018            3.85
61  2019            5.10
62  2020           19.16

[63 rows x 2 columns]

### Merging the tables

In [18]:
# Merge the cpi_inflation_df and m3_data dataframes. 
#Doing this drops all years preceeding 1958 because the m3_data dataframe has no value for this period.
combined_data = pd.merge(cpi_inflation_df, gdp_df, on=('Year'))
combined_data

    Year Dollar Value Inflation Rate gdp_rate
0   1930        $1.00         -2.34%     -8.5
1   1931        $0.91         -8.98%     -6.4
2   1932        $0.82         -9.87%    -12.9
3   1933        $0.78         -5.11%     -1.2
4   1934        $0.80          3.08%     10.8
..   ...          ...            ...      ...
86  2016       $14.37          1.26%      1.7
87  2017       $14.68          2.13%      2.3
88  2018       $15.04          2.49%      3.0
89  2019       $15.31          1.76%      2.2
90  2020       $15.50          1.23%     -3.5

[91 rows x 4 columns]

In [19]:
final_data = pd.merge(combined_data, m3_data, on=('Year'))
final_data

    Year Dollar Value Inflation Rate gdp_rate  M3_growth_rate
0   1958        $1.73          2.85%     -0.7             NaN
1   1959        $1.74          0.69%      6.9             NaN
2   1960        $1.77          1.72%      2.6            3.74
3   1961        $1.79          1.01%      2.6            6.75
4   1962        $1.81          1.00%      6.1            7.78
..   ...          ...            ...      ...             ...
58  2016       $14.37          1.26%      1.7            6.79
59  2017       $14.68          2.13%      2.3            5.70
60  2018       $15.04          2.49%      3.0            3.85
61  2019       $15.31          1.76%      2.2            5.10
62  2020       $15.50          1.23%     -3.5           19.16

[63 rows x 5 columns]

In [22]:
final_data = final_data.dropna(how='any')
final_data.head()

     Dollar Value Inflation Rate gdp_rate  M3_growth_rate
Year
1960        $1.77          1.72%      2.6            3.74
1961        $1.79          1.01%      2.6            6.75
1962        $1.81          1.00%      6.1            7.78
1963        $1.83          1.32%      4.4            8.43
1964        $1.86          1.31%      5.8            7.83

In [26]:
final_data.reset_index(drop=False, inplace=False)

    Year Dollar Value Inflation Rate gdp_rate  M3_growth_rate
0   1960        $1.77          1.72%      2.6            3.74
1   1961        $1.79          1.01%      2.6            6.75
2   1962        $1.81          1.00%      6.1            7.78
3   1963        $1.83          1.32%      4.4            8.43
4   1964        $1.86          1.31%      5.8            7.83
..   ...          ...            ...      ...             ...
56  2016       $14.37          1.26%      1.7            6.79
57  2017       $14.68          2.13%      2.3            5.70
58  2018       $15.04          2.49%      3.0            3.85
59  2019       $15.31          1.76%      2.2            5.10
60  2020       $15.50          1.23%     -3.5           19.16

[61 rows x 5 columns]

In [30]:
final_data.to_csv('Final_ETL_Table.csv', index=True, header=True)